<footer class="primary-footer">
  © 2024 Work in Progres, All rights reserved. | Contact: DiVix00000@gmail.com
  <!-- <a href="https://www.freepik.com/free-vector/modern-blue-wave-transparent-background_12027630.htm#query=transparent%20png&position=43&from_view=keyword&track=ais_user&uuid=8a8b9467-c283-4d75-875c-a484c5b4d37e">Image by Creative_hat</a> on Freepik -->
  </footer>
</body>
</html>