<%- include('partials/header.ejs')%>

<main class="container">
  <div class="form-container">
    <form action="/queryAccount" method="POST">
      <div class="form-group">
        <label for="gameName">Game Name</label>
        <input type="text" id="gameName" name="gameName" required />
      </div>
      <div class="form-group">
        <label for="tagLine">Tag Line</label>
        <input type="text" id="tagLine" name="tagLine" required />
      </div>
      <div class="form-group">
        <button type="submit">Submit</button>
      </div>
    </form>
  </div>
</main>
<%- include('partials/footer.ejs')%>
